<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>StuId</th>
      <td mat-cell *matCellDef="let row">{{ row.student }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="term">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Term</th>
      <td mat-cell *matCellDef="let row">{{ row.term }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="midExam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mid</th>
      <td mat-cell *matCellDef="let row">{{ row.midExam }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="finalExam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Final</th>
      <td mat-cell *matCellDef="let row">{{ row.finalExam }}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="sttudentGrade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let row">{{ row.sttudentGrade }}</td>
    </ng-container>
    <!-- Name Column -->
    <div class="falsee" matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </div>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <mat-select
        *matCellDef="let row"
        [ngClass]="{
          'btn-info': coloring(row.status, 'opend'),
          staged: coloring(row.status, 'staged-h'),
          'btn-danger': coloring(row.status, 'deny-h'),
          'btn-primary': coloring(row.status, 'approve-h')
        }"
        placeholder="{{ row.status }}"
        mat-cell
        matNativeControl
      >
        <mat-option (click)="updateStatus(row, 'approve-h')" value="approve-h">Aprove</mat-option>
        <mat-option (click)="updateStatus(row, 'deny-h')" value="deny-h">Deny</mat-option>
      </mat-select>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns "></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[50, 10, 5, 25]"
  >
  </mat-paginator>
</div>
