<div class="tt-container" fxLayoutAlign.gt-xs="space-evenly center" fxLayout.gt-xs="row" fxLayout.xs="column">
  <div>
    <mat-card fxLayout="row">
      <div
        *ngFor="let item of ['Sun', 'Mon', 'Tus', 'Wen', 'Thu', 'Fir', 'Sta']; index as ii"
        class="tt-col"
      >
        <div class="tt-col-head">
          <h6>
            {{ item }}
          </h6>
        </div>

        <div
          *ngFor="let i of getEventByDay(ii) | async"
          [style]="{ 'grid-row': getRowEnd(i.start.dateTime, i.end.dateTime) }"
          [class]="{ online: i.classType == 'online', face2face: i.classType == 'face2face' }"
          (click)="openViewDialog(i.id)"
          class="tt-cel"
        >
          <div>{{ i.id }}</div>
          <div>{{ i.day }}</div>
        </div>
      </div>
    </mat-card>
    <button mat-raised-button (click)="openDialog(sectionId)" color="accent">Add W. Event</button>
  </div>
  <div>
    <app-populate-event [sectionId]="sectionId"></app-populate-event>
  </div>
</div>
