<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="0px">
  
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <div>
      <form [formGroup]="weekRange" (onSubmit)="SelectWeek()">
      <mat-form-field class="col-md-8">
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" (dateChange)="startDateSelection()" />
          <input matEndDate formControlName="end" (dateChange)="endDateSelection()" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
        >
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
        >
      </mat-form-field>
      
      <button color="accent" mat-raised-button [disabled]="!weekRange.valid" type="submit">
        Week
      </button>
    </form>
  </div>
  <mat-card fxLayout="row">
    <div
    *ngFor="let item of ['Sun', 'Mon', 'Tus', 'Wen', 'Thu', 'Fir', 'Sta']; index as ii"
    class="tt-col"
    >
    <div class="tt-col-head">
      <h6>
        {{ item }}
      </h6>
    </div>
    
    <div
    [style]="{
      'grid-row': getRowEnd(i.start, i.end)
    }"
    [class]="{ online: i.classType == 'online', face2face: i.classType == 'face2face' }"
    class="tt-cel"
    *ngFor="let i of getEventByDay(ii) | async"
    >
    <div>{{ i.classType }}</div>
  </div>
    </div>
  </mat-card>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3px">
  <button mat-raised-button color="primary">Add Event</button>
</div>

</div>