<div>
    <mat-toolbar fxLayout="column wrap" fxLayoutAlign="end space-around">
      <a
        fxFlex="1 1"
        mat-list-item
        [routerLink]="['/registra', 'course', 'add']"
        routerLinkActive="router-link-active"
        >Add</a
      >
      <a
        fxFlex="1 1"
        mat-list-item
        [routerLink]="['/registra', 'course', 'view']"
        routerLinkActive="router-link-active"
        >View</a
      >
      <a
        fxFlex="1 1"
        mat-list-item
        [routerLink]="['/registra', 'course', 'detail']"
        routerLinkActive="router-link-active"
        >Detail</a
      >
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  