<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar>
      <div color="primary" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <span *ngIf="currentUser && currentUser.School">{{
            currentUser.School.schoolId | uppercase
          }}</span>
        </div>
      </div>
    </mat-toolbar>
    <mat-nav-list *ngIf="vm$ | async as vm">
      <!-- Finace -->
      <a
        mat-list-item
        [routerLink]="['/finace', 'add-payment']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'finace'"
        >AddPayment</a
      >
      <a
        mat-list-item
        [routerLink]="['/finace', 'view-payment']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'finace'"
        >ViewPayment</a
      >

      <!-- lecture -->

      <a
        mat-list-item
        [routerLink]="['/lecture', 'gradeing']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'lecture'"
        >Grading</a
      >

      <!-- <mat-expansion-panel
        class="width-80"
        expanded="showSeo"
        *ngFor="let item of currentUser.sections"
      >
        <mat-expansion-panel-header color="primary">
          <mat-toolbar color="primary">{{ item.id }} {{ ' k ' + item.sectionId }}</mat-toolbar>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a
            mat-list-item
            [routerLink]="['/lecture', 'attendance', item.id]"
            routerLinkActive="router-link-active"
            >Attendace {{ item.sectionId }}</a
          >
          <a
            mat-list-item
            [routerLink]="['/lecture', 'class-grade', item.gradeNo, item.id]"
            routerLinkActive="router-link-active"
            >Grade {{ item.sectionId }}</a
          >
        </mat-nav-list>
      </mat-expansion-panel> -->
      <!-- admin -->
      <a
        mat-list-item
        [routerLink]="['/admin', 'add-school']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'admin'"
        >Add School</a
      >
      <a
        mat-list-item
        [routerLink]="['/admin', 'view-school']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'admin'"
        >View School</a
      >
      <!-- registra -->
      <div *ngIf="vm.role == 'registra'">
        <a
          mat-list-item
          [routerLink]="['/registra', 'student', 'view', 4, 0]"
          routerLinkActive="router-link-active"
          >Student
          <i class="fa-leaf"></i>
        </a>

        <a mat-list-item [routerLink]="['/registra', 'grade']" routerLinkActive="router-link-active"
          >Grade</a
        >
        <a
          mat-list-item
          [routerLink]="['/registra', 'lecture']"
          routerLinkActive="router-link-active"
          >Lecture</a
        >
        <a
          mat-list-item
          [routerLink]="['/registra', 'section']"
          routerLinkActive="router-link-active"
          >Section</a
        >
        <a
          mat-list-item
          [routerLink]="['/registra', 'course']"
          routerLinkActive="router-link-active"
          >Course</a
        >
        <a
          mat-list-item
          [routerLink]="['/registra', 'course-section-lecture-ass']"
          routerLinkActive="router-link-active"
          >CourseSecLectureAss</a
        >

        <a
          mat-list-item
          [routerLink]="['/registra', 'assign-stu-sec']"
          routerLinkActive="router-link-active"
          >aStudents 2 Sections</a
        >
        <a
          mat-list-item
          [routerLink]="['/registra', 'schedule']"
          routerLinkActive="router-link-active"
          >Schedule</a
        >
        
      </div>
      <!-- director -->
      <div *ngIf="vm.role == 'director'">
        <a
          mat-list-item
          [routerLink]="['/director', 'class-year']"
          routerLinkActive="router-link-active"
          >ClassYear</a
        >
        <a
          mat-list-item
          [routerLink]="['/director', 'semister']"
          routerLinkActive="router-link-active"
          >semister</a
        >
        <a
          mat-list-item
          [routerLink]="['/director', 'registra']"
          routerLinkActive="router-link-active"
          >Registra</a
        >
        <a
          mat-list-item
          [routerLink]="['/director', 'finace']"
          routerLinkActive="router-link-active"
          >Finace</a
        >
        <a
          mat-list-item
          [routerLink]="['/director', 'staff']"
          routerLinkActive="router-link-active"
          >Staff</a
        >
        <a
          mat-list-item
          [routerLink]="['/director', 'setting']"
          routerLinkActive="router-link-active"
          >Setting</a
        >
      </div>

      <!-- student -->
      <a
        mat-list-item
        [routerLink]="['/student', 'attendance']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'student'"
        >Attendance</a
      >
      <a
        mat-list-item
        [routerLink]="['/student', 'grading']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'student'"
        >Grading</a
      >
      <a
        mat-list-item
        [routerLink]="['/student', 'profile']"
        routerLinkActive="router-link-active"
        *ngIf="vm.role == 'student'"
        >Profile</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <div fxFlex="0 1 auto" *ngIf="expression"></div>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxFlex="1 2 auto"></div>
      <div fxLayout="row" fxFlex="0 1 auto">
        <app-menu [options]="options$ | async" (themeChange)="themeChangeHandler($event)">
        </app-menu>

        <!-- <div >
          <a class="nav-item nav-link btn btn-info" *ngIf="currentUser" (click)="logout()"
            >Logout</a
          >
        </div> -->
        <button
          mat-icon-button
          *ngIf="(vm$ | async)?.isLoggedin"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <a mat-menu-item class="nav-item nav-link btn btn-info" (click)="logout()">Logout</a>
        </mat-menu>
        <a
          class="nav-item nav-link"
          id="loginlink"
          *ngIf="!(vm$ | async)?.isLoggedin"
          [routerLink]="['/login']"
          >Login</a
        >
        <a
          class="nav-item nav-link"
          id="loginlink"
          *ngIf="!(vm$ | async)?.isLoggedin"
          [routerLink]="['/login']"
          >Login</a
        >
        <a
          class="nav-item nav-link"
          id="loginlink"
          *ngIf="(Gvm$ | async)?.isGLoggedin"
          (click)="naviageToGoogleLogin()"
          >GLogin</a
        > 
      </div>

      <!-- <span id="role" *ngIf="vm.School" fxFlexOffset="15%">{{
        currentUser.role
        }}</span> -->
    </mat-toolbar>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
