.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-sidenav {
  mat-nav-list {
    a:hover {
      margin: 0px 4px;
      font-size: 1.34  rem;
      // background-color: rgb(133, 112, 120);
    }
    a:active, .router-link-active, a:visited{
      background-color: rgb(230, 218, 218);
      box-shadow:  -2px 0px 9px 0px rgb(2 2 2 / 16%);
    }
    
  }
}

mat-sidenav {
  mat-toolbar {
    margin: 0;
    padding: 0;
  }
}
.corner-box {
  background-color: #3f51b5;
  width: 100%;
  height: 100%;
}
