<div>
  <mat-toolbar fxLayout="column wrap" fxLayoutAlign="end center">
    <button
      mat-raised-button
      *ngFor="let grade of grades$ | async as item"
      fxFlex="1 1"
      mat-list-item
      (click)="[getSectionss(grade.gradeNo)]"
    >
      {{ grade?.gradeName }}
    </button>
  </mat-toolbar>
</div>
<div class="section" *ngIf="sections$ | async as s">
  <mat-toolbar *ngIf="s.length > 0" fxLayout="column wrap" fxLayoutAlign="end center">
    <a
      class="section-btn"
      mat-raised-button
      *ngFor="let item of sections$ | async"
      fxFlex="1 1"
      mat-list-itemx
      [routerLink]="['sudo', item.sectionId]"
    >
      {{ item.sectionId }}
    </a>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
