mat-toolbar {
  margin: 5%;
  width: auto;
  max-height: 10px;

  button {
    max-width: 70px;
    background-color: rgb(190, 93, 158);
    margin: 0.12rem;
    color: antiquewhite;
    font-size: 1.3;
  }
}
